<html>
    <head>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />

    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    

    
    <style>
        .top15 {
            margin-top: 15px;
        }

        .top5 {
            margin-top: 5px;
        }
    </style>

    </head>
    
    
    <body>
    
        <div class="container">
    
        <h3>Welcome to the Software Engineering Team Tracking Application!</h3>
        
        
        <div class="top15">
        
        You must first log in or all API actions will fail.
        
        </div>
        
        <div class="top15">
               
            <ul>
                <li><a href="/api-auth/login/?next=/">Log in<a></li>
                <li><a href="api/tcrsquestions">Initialise TCRS questions</a></li>
                <li><a href="api/iterations">Initialise iterations</a></li>
                <li><a href="loadTCRS">Load TCRS Submissions</a></li>
                <li><a href="viewSummary">View Team Summary</a></li>
                <li><a href="/api/">API Detail</a></li>
        
            </ul>
        </div>
        
        
        </div>
    
    </body>


</html>