<html>
    <head>
        <title>Populate Data from TCRS Submissions</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script src="static/teamtracking/papaparse.min.js"></script>
	
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
	
	
<script src="https://kit.fontawesome.com/8b14d54041.js"
	crossorigin="anonymous"></script>
<body>


		<script>
			/*<![CDATA[*/

			var app = angular.module('myApp', []);
			
			app.config(['$httpProvider', function($httpProvider) {
                $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
            }]);
			
			app.controller('importCtrl', function($scope, $http) {
			
			    var clearAlerts = function() {
                    $scope.error = {}, $scope.warning = null, $scope.success=false;
                };
				
				
				// Upload and read CSV function
                $scope.submitForm = function(form) {
                    clearAlerts();
                    var filename = document.getElementById("bulkDirectFile");
                    if (filename.value.length < 1 ){
                        ($scope.warning = "Please upload a file");
                    } else {
                        $scope.title = "Confirm file";
                        var file = filename.files[0];
                        console.log(file)
                        var fileSize = 0;
                        if (filename.files[0]) {
                             
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var table = $("<table />").css('width','100%');
                    
                                var rows = e.target.result.split("\n");
                                for (var i = 0; i < rows.length && i < 10; i++) {
                                    var row = $("<tr  />");
                                    var cells = rows[i].split(",");
                                    for (var j = 0; j < cells.length; j++) {
                                        var cell = $("<td />").css('border','1px solid black');
                                        cell.html(cells[j]);
                                        row.append(cell);
                                    }
                                    table.append(row);
                                }
                                $("#dvCSV").html('');
                                $("#dvCSV").append(table);
                            }
                
                            reader.readAsText(filename.files[0]);
            
                        }
                        return false;
                    }
                }
				
				    //   Convert to JSON function
                $scope.add = function(){
                    var Table = document.getElementById('Table');
                    var file = document.getElementById("bulkDirectFile").files[0];
                    $('.loading').show();
                    var allResults = [];
         
                    Papa.parse(file, {
                        download: true,
                        header: true,
                        skipEmptyLines: true,
                        error: function(err, file, inputElem, reason) { },
                        complete: function(results) {
                            allResults.push(results.data);
                            console.log(results.data)
							
							$http.post("api/tcrsresponses/process_responses/", results.data).then(function(response) {
					            console.log(response);
								$scope.uploaded = response.data[0];
								$scope.skipped = response.data[1];
								$scope.success = true;
				            }, function(error){
				                console.log(error);
				            });
                 
                        }
                      });   
                    }
					
									
      				
			});

			/*]]>*/
		</script>

		<div ng-app="myApp" ng-controller="importCtrl" class="container">


            <div class="box-body table-responsive">
                    <hr>
                    <hr>
                    <!-- form start -->
                    <p>Select the TCRS response CSV file, and click "Preview" to view a preview of the data in the file.  Make sure you have <a href="/api/tcrsquestions" target="_blank">populated the questions and question types</a> (opens in new tab) for the TCRS <it>before</it> uploading the CSV file or data will not be saved.</p>
                    <form role="form" class="form-horizontal" name="bulkDirectForm" method="post" enctype="multipart/form-data" novalidate>
                      <div class="box-body">
                        <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
                        <div id="warning" class="alert alert-warning" data-ng-show="warning" data-ng-bind="warning"></div>
                         
                        <div class="form-group">
                          <div class="col-sm-10">
                            <input type="file" class="form-control" id="bulkDirectFile" placeholder="CSV file with phone numbers and amount" ng-model="prd.bulk_direct_file" required accept=".csv">
                          </div>
                          <div class="col-sm-2">
                            <button type="submit" class="btn btn-block btn-info" ng-hide="myVar" data-ng-click="submitForm(bulkDirectForm)">Preview CSV Data</button>
                          </div>
                           
 
                          <br>
                          <br>
                           
                   
                          <div class="col-sm-10" ng-show="title" id="Table">
                          <h5>Confirm file to be uploaded and click the Upload button below</h5>
                          
               
                          <div id="dvCSV"></div>
 
                          <br>
                           
                          <button type="button" class="btn btn-success" data-ng-click="add()">Upload</button>
                          </div>
						  

 
 
                           
                        </div>
 
                      </div>
                    </form>
                      
            </div>
    	    <div ng-if="success">
			{% verbatim %}
				A total of {{uploaded}} responses were uploaded and saved.  {{skipped}} responses were already present and have been skipped.
			{% endverbatim %}						  
			</div>
					

			
		</div>

</body>


</html>