<html>
   <head>
        <title>Team Summary View</title>
<script
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
        
<link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    
<script src="https://kit.fontawesome.com/8b14d54041.js"
    crossorigin="anonymous"></script>
    
    <script src="static/teamtracking/multiselect.js"></script>
    
    <style>
        
        multiselect {
			display:block;
		}
		multiselect .btn {
			width: 100%;
			background-color: #FFF;
		}
		multiselect .btn.error{
			border: 1px solid #da4f49 !important;
		}
		multiselect .dropdown-menu {
			max-height: 300px;
			overflow-y: auto;
		}
		multiselect .dropdown-menu {
			width: 100%;
			box-sizing: border-box;
			padding: 2px;
		}
		multiselect .dropdown-menu > li > a {
			padding: 3px 10px;
			cursor:pointer;
		}
    </style>
    
</head>
<body>


    <script>
            /*<![CDATA[*/

            var app = angular.module('myApp', ['ui.multiselect']);
            
            app.config(['$httpProvider', function($httpProvider) {
                $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
            }]);
            
            app.controller('teamSummaryCtrl', function($scope, $http) {

                
                $scope.courses = [];
                $scope.sections = [];
                $scope.teams = [];
                                
                $scope.loadC = function(){
                    loadTeams(true,false,false);
                
                }
                
                $scope.loadS = function(){
                    loadTeams(false,true,false);
                
                }
                
                $scope.loadT = function(){
                    loadTeams(false,false,true);
                }
				
				
				let displayChart = function (){
                
                
                    let datasets = [];
                    let colours = ["red", "green", "blue", "yellow", "purple", "orange", "black", "pink", "brown", "teal", "gray"];
                    var idx = 0;
                
                    for (const [key, value] of Object.entries($scope.sentimentDetails)){
                
                        datasets.push({
                            data: value,
                            label: key,
                            borderColor: colours[idx],
                            fill: false    

                        });
                        idx++;
                
                    }
                
                
                    new Chart(document.getElementById("line-chart"), {
                        type: 'line',
                        data: {
                            labels: $scope.chartIterations,
                            datasets: datasets
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Change in team sentiment over time'
                            },
                            spanGaps: true
                        }
                    });

                }
 
 				let loadChart = function (){
                    let submit = {};
                    submit.course = $scope.selectedCourse;
                    submit.section = $scope.selectedSection;
                    submit.team = $scope.selectedTeam;
					
                    $http.post("api/tcrsresponses/all_sentiment_data/", submit).then(function(response) {
                        $scope.chartIterations = response.data.iterations;                
                        $scope.sentimentDetails = response.data.sentimentDetails;
                        displayChart();
                        
                    }, function(error){
                        console.log(error);
                    });
                }
                
                
                $scope.loadIterations = function (){
                    
                      
                    $http.get("api/iterations/?format=json").then(function(response) {
                        $scope.iterations = response.data.results;                
                    }, function(error){
                        console.log(error);
                    });
                }
                
                $scope.loadIterations();
                
                
    
                let loadTeams = function(skipCourse, skipSection, skipTeam){

                    let submit = {};
                    submit.course = $scope.selectedCourse;
                    submit.section = $scope.selectedSection;
                    submit.team = $scope.selectedTeam;
                    
                    console.log("Requesting:");
                    console.log(submit);
    
    
                    $http.post("api/tcrsresponses/matching_teams/", submit).then(function(response){
                        console.log(response);
                        if(!skipCourse)$scope.courses = response.data.course;
                        if(!skipSection)$scope.sections = response.data.section;
                        if(!skipTeam)$scope.teams = response.data.team;
                        if ($scope.iteration != undefined) $scope.loadDetails();
						loadChart();
                    
                    },
                    function(rejection){
                        console.log(rejection);
                    
                    });
    
                }
                
                /* Loads in detailed responses based on the filters applied */
                $scope.loadDetails = function(){
                
                    $scope.dataLoaded = false;
                
                    let submit = {};
                    submit.course = $scope.selectedCourse;
                    submit.section = $scope.selectedSection;
                    submit.team = $scope.selectedTeam;
                    submit.iteration = $scope.iteration.displayed_value;

    
                    $http.post("api/tcrsresponses/team_summary/", submit).then(function(response){
                    $scope.details = {};
                        $scope.details.strugglingTeams = parse(response.data.strugglingTeams);
                        $scope.details.drop = parse(response.data.drop);
                        $scope.details.improvement = parse(response.data.improvement);
                        
                        $scope.details.allTeams = [];
                        for(const teamDetails of response.data.allTeams){
                            parts = teamDetails.team.split("::");
                            let course = parts[0];
                            let section = parts[1];
                            let team = parts[2];
                            let id = parts[3];
                            $scope.details.allTeams.push({
                                course: course,
                                section: section,
                                team: team,
                                id: id,
                                lowestScore: teamDetails.lowestScore,
                                highestScore: teamDetails.highestScore,
                                averageScore: teamDetails.avgScore
                            });
                        
                        }
                        
                        $scope.dataLoaded = true;
                    
                    },
                    function(rejection){
                        console.log(rejection);
                    
                    });
    
                }
                
                let parse = function(teamData){
                    arr = [];
                    for (const [key, value] of Object.entries(teamData)) {
                        /* Python is dumb and won't let us use a full object as a key, so we have to jam it all together and pull it apart.  The format expected is `Course::Section::TeamNo::id` */
                        parts = key.split("::");
                        let course = parts[0];
                        let section = parts[1];
                        let team = parts[2];
                        let id = parts[3];
                        arr.push({
                            course: course,
                            section: section,
                            team: team,
                            id: id,
                            score: value
                        });
                        

                    }
                    return arr;
                    
                }

                loadTeams(false,false,false);
                
                
                $scope.dataLoaded = false;

                
            });
            

            /*]]>*/
    </script>

    <div ng-app="myApp" ng-controller="teamSummaryCtrl" class="container">
    
    {% verbatim %}
        
        <h3>View Team Details</h3>
        
        
        <div class="row">
        
            <div class="span3">
                Choose an iteration (required):
                <select ng-model="iteration"
                    ng-options="item as item.displayed_value for item in iterations"
                    required="true">
                    <option value=""></option>
                </select>
                
                <button type="button" class="btn btn-success" data-ng-click="loadDetails()">Load TCRS Details</button>
                
            </div>
        
            <div class="span3">
                    
                Filter by course:
                <multiselect class="input-xlarge" multiple="true"
                    ng-model="selectedCourse"
                    options="c for c in courses"
                    change="selected(); loadC()" >
                </multiselect>
            
            </div>
            
            <div class="span3">
                    
                Filter by section:
                <multiselect class="input-xlarge" multiple="true"
                    ng-model="selectedSection"
                    options="s for s in sections"
                    change="selected(); loadS()" >
                </multiselect>
            
            </div>
            
            
            <div class="span3">
                    
                Filter by team:
                <multiselect class="input-xlarge" multiple="true"
                    ng-model="selectedTeam"
                    options="t for t in teams"
                    change="selected(); loadT()" >
                </multiselect>
            
            </div>
            
        </div>
    
        <div>
    
            <div class="row">
			
			
				<div class="span6">
				
					<div ng-show="dataLoaded">
				
						<div class="row">
					
							<h5>Struggling Teams This Week:</h5>
            
                
            
							<div ng-repeat="team in details.strugglingTeams track by $index">
								Team: {{team.course}}-{{team.section}}-{{team.team}}
								<br>&nbsp;&nbsp;&nbsp;&nbsp;Lowest Score: {{team.score}} 
                        
								<a href="viewTeamDetails?id={{team.id}}&iteration={{iteration.displayed_value}}" target="_blank">
									<i class="fas fa-external-link-square-alt"></i>
									View Details
									<i class="fas fa-external-link-square-alt"></i>
								</a>
								<br />
    
							</div>
					
					
						</div>
					
						<div class="row">
					        <h5>Largest Improvement This Week:</h5>
            
                
            
							<div ng-repeat="team in details.improvement track by $index">
								Team: {{team.course}}-{{team.section}}-{{team.team}}
								<br>&nbsp;&nbsp;&nbsp;&nbsp;Change: {{team.score}}
                        
								<a href="viewTeamDetails?id={{team.id}}&iteration={{iteration.displayed_value}}" target="_blank">
									<i class="fas fa-external-link-square-alt"></i>
									View Details
									<i class="fas fa-external-link-square-alt"></i>
								</a>
								<br />
    
							</div>
					
						</div>
					
					
						<div class="row">
					
							<h5>Largest Drop This Week:</h5>
            
                
            
							<div ng-repeat="team in details.drop track by $index">
								Team: {{team.course}}-{{team.section}}-{{team.team}}
								<br>&nbsp;&nbsp;&nbsp;&nbsp;Change: {{team.score}}
                        
								<a href="viewTeamDetails?id={{team.id}}&iteration={{iteration.displayed_value}}" target="_blank">
									<i class="fas fa-external-link-square-alt"></i>
									View Details
									<i class="fas fa-external-link-square-alt"></i>
								</a>
								<br />
    
							</div>
					
					
						</div>
					
						<div class="row">
							<h5>All Teams:</h5>
            
							<div ng-repeat="team in details.allTeams track by $index">
								<strong>Team: {{team.course}}-{{team.section}}-{{team.team}}</strong> 
								<br>&nbsp;&nbsp;&nbsp;&nbsp;
								Score Range: (min: {{team.lowestScore}} => max: {{team.highestScore}} (avg: {{team.averageScore}}))
                        
								<a href="viewTeamDetails?id={{team.id}}&iteration={{iteration.displayed_value}}" target="_blank">
									<i class="fas fa-external-link-square-alt"></i>
									View Details
									<i class="fas fa-external-link-square-alt"></i>
								</a>
								<br />
    
							</div>
					
						</div>
				
					</div>
				
				</div>
				
				<div class="span6">
					<canvas id="line-chart" width="200" height="200"></canvas>
				
				</div>
    
            </div>
  
        </div>

    {% endverbatim %}
            

    </div>

</body>


</html>